<div id="center-box">

    <div class="container my-background rounded border">
        <div class="container mt-3 mb-4 mx-3">
            <h1>Login to SnapSquad</h1>

            <form class="mb-5 mt-4" >
                <div class="align-center">
                    <h3 class="text mb-2">Username</h3>
                    <label>
                        <input class="form-control" name="usernmae">
                    </label>
                </div>
                <div id="sign-margin">
                    <button class="btn btn-primary" routerLink="eventFeedPage" type="submit" value="Sign In">Sign in</button>
                    
                </div>
            </form>

            <span ></span>
            <div id="footer">

                <h5 id="left-f">
                    New to SnapSquad?
                    <a href="/signUp" class="pl-3" style="color:#FFE066">Learn more »</a>
                </h5>
            </div>
        </div>
    </div>

</div>