<div class="container">
    <div class="row justify-content-center m-4 border rounded my-fill-white">
        <div class="container m-2 h1 text-center"> 
            Create your event!
        </div>
    </div>
    <div class="row m-4 my-fill-white">
        <div class="container">
            <div class="row m-3 alert alert-primary">
                All fields except "Other Details" are required.
            </div>
            <div class="container">
                    <div class="row form-group m-3">
                        <label>Name of Event*</label>
                        <input class="form-control" id="name" [(ngModel)]="name" placeholder="name"/>
                    </div>
                    <div class="row form-group m-3">
                        <label>Summary*</label>
                        <input class="form-control" placeholder="Short description"
                            id="summary" [(ngModel)]="summary"/>
                    </div>
                    <div class="row form-group m-3">
                        <label>Date*</label>
                        <input class="form-control myDateLabel" type="datetime-local"
                            id="date" [(ngModel)]="date"/>
                    </div>
                    <div class="form-group m-3">
                        <label>Fun Picture*</label>
                        <input type="file" class="form-control-file" id="pictureName" [(ngModel)]="pictureName"/>
                    </div>
                    <div class="form-group m-3">
                        <label>Reasons People Should Go*</label>
                        <input class="form-control" placeholder="Be compelling!" id="reasonsToGo" 
                            [(ngModel)]="reasonsToGo"/>
                    </div>
                    <div class="form-group m-3">
                        <label>Other Details</label>
                        <textarea rows=2 class="form-control" placeholder="Longer description, maybe some links?"></textarea>
                    </div>
                    <div class="form-group mt-4 m-3">
                        <button routerLink="/eventFeedPage" (click)="addEvent()" class="btn btn-primary">Submit Event</button>
                    </div>
                </div>
        </div>
    </div>
</div>