<div class="card my-card m-5">
    <img src="assets/generic-bar.jpg" class="card-img-top">
    <div class="card-body">
        <h5 class="card-title">{{ name }}</h5>
        <h3 class="card-title">{{ date }}</h3>
        <div class ="card-text">
            <div>
                {{ summary }}
            </div>
        </div>
    </div>
    <div class="row m-3 justify-content-center">
        <button routerLink="/eventPage" class="btn btn-primary">
            More Info
        </button>
    </div>
</div>
