.my-title {
    text-align: center;
}

.my-card {
    height: 38rem;
    overflow: hidden;
    width: 27rem;
    border-color: #FFE066;
    box-shadow: 5px 5px 10px;
}

img {
    border-color: #FFE066;
}

