<div class="card my-card m-5">
    <img src="assets/generic-bar.jpg" class="card-img-top">
    <div class="card-body">
        <h5 class="card-title">Fun event!</h5>
        <div class ="card-text">
            <ul>
                <li>It's going to be fun</li>
                <li>All your friends will be there</li>
                <li>You should go</li>
            </ul>
        </div>
    </div>
    <div class="row m-3 justify-content-center">
        <button routerLink="/eventPage" class="btn btn-primary">
            More Info
        </button>
    </div>
</div>
