<div class="card my-card m-5">
    <img src="assets/generic-bar.jpg" class="card-img-top">
    <div class="card-body">
        <h5 class="card-title">{{ name }}</h5>
        <h3 class="card-title">{{ date.toLocaleDateString("en-us", dateOptions) }}</h3>
        <div class ="card-text m-2">
            <div>
                {{ summary }}
            </div>
            <ul>
                <div *ngFor="let reason of reasonsToGo">
                    <li>
                        {{ reason }}
                    </li>
                </div>
            </ul>
        </div>
    </div>
    <div class="row m-2 justify-content-center">
        <button routerLink="/eventPage" class="btn btn-primary">
            More Info
        </button>
    </div>
</div>
