.my-navbar {
    background: white;
}

.my-button-group {
    text-align: center;
    text-anchor: middle;
}

.sq-btn {
    width: 40px;
    height: 40px;
}

.market-button {
    height: 40px;
    text-anchor: middle;
    text-align: center;
}

.nav-button {
    width: 32%;
}
