<nav>
    <div class="dropdown col-4 float-left">
        <button class="btn btn-secondary dropdown-toggle market-button" type="button" id="dropdownMenuButton"
            data-toggle="dropdown" placeholder="Market">
            Market
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Los Angeles</a>
            <a class="dropdown-item" href="#">Chicago</a>
            <a class="dropdown-item" href="#">Atlanta</a>
        </div>
        <span>
            Los Angeles
        </span>
    </div>
    <div class="col-4">
        <button class="btn mx-3 border">
            Upcoming
        </button>
        <button class="btn mx-3 border">
            New
        </button>
        <button class="btn mx-3 border">
            Going
        </button>
    </div>
    <div class="col-4 float-right text-right">
        <button class="btn sq-btn btn-secondary">
            <h3>+</h3>
        </button>
    </div>
</nav>
