<nav class="navbar fixed-top my-navbar navbar-expand-lg navbar-expand-md navbar-expand-sm border border-secondary">
    <div class="dropdown col-4">
        <button class="btn btn-secondary dropdown-toggle market-button" type="button" id="dropdownMenuButton"
            data-toggle="dropdown" placeholder="Market">
            Market
        </button>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="#">Los Angeles</a>
            <a class="dropdown-item" href="#">Chicago</a>
            <a class="dropdown-item" href="#">Atlanta</a>
        </div>
        <span class="ml-2">
            Los Angeles
        </span>
    </div>
    <div class="col-4 my-button-group">
        <div class="container">
            <button (click)="emitChangeDeck('Upcoming')" class="btn mx-3 border">
                Upcoming
            </button>
            <button (click)="emitChangeDeck('New')" class="btn mx-3 border">
                New
            </button>
            <button (click)="emitChangeDeck('Going')" class="btn mx-3 border">
                Going
            </button>
        </div>
    </div>
    <div class="col-4 text-right">
        <button routerLink="createEvent" class="btn sq-btn btn-secondary">
            +
        </button>
    </div>
</nav>
