<div class="container">
  <div class="container rounded border m-5" style="color: black; background-color: white;">
    <div class="row my-3 pb-4 description-box">
      <img class="col-6 event-image" src="{{ curEvent[0].pictureName }}">
      <div class="col-6">
        <div class="row my-3"><h1>{{curEvent[0].name}}</h1></div>
        <div class="row my-3">
          <h5>Date</h5>
          <br>
          {{curEvent[0].date}}
        </div>
        <div class="row my-3">
          <h5>Location</h5>
          <br>
          Los Angeles
        </div>
        <div class="row my-3">
          <h5>Reasons To Go</h5>
          <br>
          {{curEvent[0].reason1ToGo}}, {{curEvent[0].reason2ToGo}}, {{curEvent[0].reason3ToGo}}
        </div>
        <div class="row my-3">
          <h5>Description</h5>
          <br>
          {{curEvent[0].summary}}
        </div>
      </div>
    </div>
    <span></span>
    <div class="row justify-content-center">
      <div class="m-3 pt-2 squad-list">
        <div class="col-12">
          <div class="mb-3 text-center"><h2>Squad List</h2></div>
            <button (click)="addMember()" class="btn btn-warning btn-block join-button"><h2>Join!</h2></button>
            <div *ngFor="let person of people" class="no-background-color justify-content-center people-list">
              <ul class="list-group">
                <li class="list-group-item  text-center"><h5>{{person.first}} {{person.last}}</h5></li>
              </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>