
  <div class="row">
    <img class="col col-6" src="assets/image.jpg">
    <div class="col ">
      <div style="color: azure">Date: </div>
      <br>
      <div style="color: azure">Location: </div>
      <br>
      <div style="color: azure">Reasons to go:</div>
      <br>
      <div style="color: azure">Description</div>
    </div>
    <div class="col">  
      <div class="text-muted text-center">Squad list</div>
      <button class="btn btn-warning btn-lg">Join!</button>
    </div>  
  </div>
