span {
    display: block;
    margin: 15px auto;
    margin-left: 30px;
    margin-right: 30px;
    border-top: 1px solid black;
  }
  
  .event-image {
    border-radius: 30px;
    height: 300px;
    width: auto;
  }

  .my-title {
    text-align: left;
  }

  .description-box {
    text-align: left;
  }

  .no-background-color {
    background-color: transparent;
  }

  .squad-list {
    width: 70%;
    color: black;
    margin: auto;
  }
  
  .people-list {
    width: 50%;
    margin: auto;
  }

  .join-button {
    width: 50%;
    margin: auto;
  }