<div class="container-fluid mt-5 pt-5">
   <div (eventSortByUpcoming)="testEventMatt()" class="row card-deck m-0 justify-content-center">
        <div *ngFor="let event of events">
            <app-event-card
                class="col-4 horizontal-card"
                [name]="event.name"
                [date]="event.date"
                [summary]="event.summary"
                [pictureName]="event.pictureName"
                [reasonsToGo]="event.reasonsToGo"
                [id]="event.id"
            ></app-event-card>
        </div>
   </div> 
</div>
