<div class="container-fluid my-fill">
    <div class="row card-deck m-4"> 
    <div class="card my-card m-5">
        <img src="generic-bar.jpg" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">Fun event!</h5>
            <div class ="card-text">
                <ul>
                    <li>It's going to be fun</li>
                    <li>All your friends will be there</li>
                    <li>You should go</li>
                </ul>
            </div>
        </div>
        <div class="row m-3 justify-content-center">
            <button class="btn btn-primary">
                More Info
            </button>
        </div>
    </div>
    <div class="card my-card m-5">
        <img src="generic-bar.jpg" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">Fun event!</h5>
            <div class ="card-text">
                <ul>
                    <li>It's going to be fun</li>
                    <li>All your friends will be there</li>
                    <li>You should go</li>
                </ul>
            </div>
        </div>
        <div class="row m-3 justify-content-center">
            <button class="btn btn-primary">
                More Info
            </button>
        </div>
    </div>
    <div class="card my-card m-5">
        <img src="generic-bar.jpg" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">Fun event!</h5>
            <div class ="card-text">
                <ul>
                    <li>It's going to be fun</li>
                    <li>All your friends will be there</li>
                    <li>You should go</li>
                </ul>
            </div>
        </div>
        <div class="row m-3 justify-content-center">
            <button class="btn btn-primary">
                More Info
            </button>
        </div>
    </div>
    </div>
</div>