<div class="container-fluid mt-4 pt-5">
   <div class="row card-deck m-0 justify-content-center">
        <div *ngFor="let event of eventsOriginal">
            <app-event-card
                class="col-4 horizontal-card"
                [name]="event.name"
                [date]="event.date"
                [summary]="event.summary"
                [pictureName]="event.pictureName"
                [reason1ToGo]="event.reason1ToGo"
                [reason2ToGo]="event.reason2ToGo"
                [reason3ToGo]="event.reason3ToGo"
                [id]="event.id"
            ></app-event-card>
        </div>
   </div> 
</div>
